:root{

    --main-color: #454D6B;
    --color-form: #6495ED;

}


.container{
    border: solid red 1px;
    width: 375px;
    height: 800px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;

}



.container__secao-cadastro{
    border: solid rgb(254, 0, 0);
    width: 300px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--color-form);
    border-radius: 5px;

}


/*Formulário de cadastro*/


.container__secao-cadastro__form-cadastro{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;   
    text-align: center;
    color: white;
    margin: 0 auto;
    border: solid rgb(254, 0, 0);

    
    

}



.container__secao-cadastro__form-cadastro__label{
    font-size: 35px;
    font-weight: bold;

}

#btn-cadastro{
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


/*Estilização de inputs de cadastro*/

#input-cadastro__nome{
    height: 30px;
    border-radius: 10px;

}


#input-cadastro__email{
    height: 30px;
    border-radius: 10px;

}


#input-cadastro__foto{
    height: 30px;
    border-radius: 10px;

}


#input-cadastro__password{
    height: 30px;
    border-radius: 10px;

}




/*Formulário de login*/


.container__secao-login{

    border: solid green 1px;
    width: 300px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--color-form);
    border-radius: 5px;


}



.container__secao-login__form-login{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;   
    text-align: center;
    color: white;
    border: solid rgb(254, 0, 0);

}

.container__secao-login__form-login__label{
    display: block;
    font-size: 35px;
    font-weight: bold;
}



#btn-login{
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;


}



/*Estilização de inputs de login*/

#input-login__email{
    height: 30px;
    border-radius: 10px;
}

#input-login__password{
    height: 30px;
    border-radius: 10px;

}





